<th:block th:fragment="question(question)" xmlns:th="http://www.thymeleaf.org">
    <h2 th:text="${question.name}"></h2>
<div class="accordion" th:id="'accordion' + ${question.id}">
    <th:block  th:each="answer : ${question.answers}">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed"
                           type="button"
                           data-bs-toggle="collapse"
                            th:attr="data-bs-target='#collapseAnswer' + ${answer.id}, aria-controls='collapseAnswer' + ${answer.id}"
                           aria-expanded="false"
                        th:utext="${answer.correct} ? '&#x2705; ' + ${answer.name} : '&#x274C; ' + ${answer.name}">
                </button>
            </h2>
            <div th:id="'collapseAnswer' + ${answer.id}"
                 class="accordion-collapse collapse"
                 th:attr="data-bs-parent='#accordion' + ${answer.id}">
                <div class="accordion-body" th:text="${answer.explanation}">
                </div>
            </div>
        </div>
    </th:block>
    </div>
</th:block>